*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
	/* overflow: hidden; */
}

header {
	border: 1px solid #e2e2e2;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
	height: 45px;
	padding: 4px 15px 2px;
	position: fixed;
	margin: 0 auto;
	z-index: 1;
	max-width: 1605px;
	top: 0;
	width: 100%;
}

header ul {
	position: relative;
	bottom: 8px;
	right: 80px;
	float: left;
}

header ul li {
	float: left;
	list-style-type: none;
}

.navIcons .search {
	position: relative;
	right: 60px;
}

.navIcons .text-link {
	position: relative;
	right: 70px;
	font-size: 14.25px;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	line-height: 19px;
}

.header-links button {
	background-color: #6288a5;
	border: 1px solid #326891;
	border-radius: 3px;
	padding: 11px 12px 8px;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	cursor: pointer;
	font-size: 11px;
	color: #fff;
	line-height: 11px;
	letter-spacing: 0.05em;
	font-weight: 700;
}

.navIcons img {
	height: 15px;
	width: 100px;
}

.logo {
	float: left;
	margin-top: 2px;
	margin-left: 120px;
	position: relative;
	width: 35%;
}

main {
	clear: both;
	max-width: 1200px;
  	margin: 0 auto;
}

.header-links {
	float: right;
}

/*
.header-links button {
	display: inline;
} */

h1 {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.headline span {
	display: inline-block;
}

.mainImg {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

.mainImg img {
	width: 100%;
	height: 500px;
}

.mainImg figure figcaption {
	text-align: left;
	margin-right: 360px;
}

.content p, .article-nav{
	width: 45%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.25rem;
    line-height: 1.875rem;
}

.socialIcons {
	float: right;
	list-style-type: none;
	margin-top: 0;

}

.socialIcons li {
	display: inline;

}

aside {
	float: right;
	width: 20%;
	vertical-align: top;
	background-color: red;
}

.theory-image {
	background: url(../images/inflation-945.png) center no-repeat;
	background-size: contain;
	height: 600px;
	margin: 15px 0;
	font-size: 14px;
	position: relative;
}

.the-universe,
.not-enough-time,
.distant-coffee,
.coffee-everywhere,
.still-not-enough-time,
.inflation,
.fluctuation,
.expansion {
	position: absolute;
	top: 27%;
	width: 260px;
	line-height: 17px;
	font-weight: 300;
	padding: 0 20px;
	text-align: left;
}

.still-not-enough-time,
.inflation,
.fluctuation,
.expansion {
	top: 75%;
}

.the-universe,
.still-not-enough-time {
	left: 100px;
}

.not-enough-time,
.inflation {
	left: 350px;
}

.distant-coffee,
.fluctuation {
	right: 350px;
}

.coffee-everywhere,
.expansion {
	right: 95px;
}

.iframe {
	/* border: 1px solid black; */
	/* width: 45%; */
	/* height: 300px; */
	margin-right: auto;
	margin-left: auto;
	max-width: 45%;
}

.bottom-content{
	width: 1400px;
	margin: auto;
}

.more-space-cosmos{
	width: 70%;
	border-top: 1px solid black;
	display: inline-block;
	vertical-align: top;
	/* margin: 10px auto; */
}

.most-popular{
	width: 25%;
	display: inline-block;
	border-top: 1px solid black;
	margin-left: 38px;
}

.image-grid {
	width: 32%;
	display: inline-block;
	padding: 10px;
}

div.image-grid figcaption {
	font-size: 0.625em;
	text-align: right;
}

.image-grid img {
	height: auto;
	max-width: 100%;
}

.image-grid figure {
	margin: 0;
}

.image-grid h2 {
	font-size: 1.125rem;
	line-height: 22px;
	margin-top: 5px;
	font-weight: 500;
}

.image-grid span time {
	font-weight: 500;
	color: gray;
	font-size: 0.75em;
}

.editors-picks {
	border-top: 1px solid black;
	margin-top: 16px;
	padding-top: 4px;
}

footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3% 9px;
}

#main-footer::before {
	border-bottom: 1px solid rgb(226, 226, 226);
	border-top: 2px solid rgb(226, 226, 226);
	content: "";
	display: block;
	height: 1px;
	margin-top: 0;
}

.footer-nav {
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.more-space-cosmos-header {
	padding: 10px;
}

.more-space-cosmos-header a,
.most-popular-header > a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 1.178em;
}

.most-popular-header a {
	text-decoration: none;
}

#conpyright-section {
	border-top: 1px solid rgb(235, 235, 235);
}

#footer-bottom-nav {
	text-align: center;
}

#footer-bottom-nav li {
	display: inline-block;
	font-size: x-small;
	padding: 10px 5px;
}

#footer-bottom-nav li a {
	text-decoration: none;
	color: rgb(153, 153, 153);
}

.most-popular-header {
	margin: 0;
	padding: 10px;
}

ul#most-popular li {
	border-top: 1px solid #ccc;
	padding: 15px 0;
}

#most-popular {
	padding: 15px 0;
}

.most-popular-header ul li a {
	font-size: 1.125em;
	font-weight: 500;
	line-height: 1.375em;
	color: rgb(18, 18, 18);
}

.main-footer {
	max-width: 1200px;
	padding: 0;
	margin: auto;
}

.footer-header {
	margin-top: 15px;
}

.footer-nav {
	width: 16%;
}

.footer-header__heading {
	float: left;
	margin: 0;
	width: 15%;
}

.footer-header__link {
	float: right;
	text-decoration: none;
	color: rgb(98, 136, 165);
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 11px;
}

.clear-fix {
	clear: both;
}

.footer-nav__heading {
	cursor: pointer;
	font-size: 13px;
	color: #333;
	letter-spacing: 0.04rem;
	line-height: 44px;
}

.footer-nav nav {
	margin-top: -20px;
}

.footer-nav__link {
	margin-left: -40px;
	margin-bottom: 8px;
	font-size: 13px;
}

.footer-nav__link a {
	text-decoration: none;
	color: black;
}
