*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

header {
	border: 1px solid #e2e2e2;
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
	height: 45px;
	padding: 4px 15px 2px;
	position: fixed;
	margin: 0 auto;
	z-index: 1;
	max-width: 1605px;
	top: 0;
	width: 100%;
}

header ul {
	position: relative;
	bottom: 8px;
	right: 80px;
	float: left;
}

header ul li {
	float: left;
	list-style-type: none;
}

.navIcons .search {
	position: relative;
	right: 60px;
}

.navIcons .text-link {
	position: relative;
	right: 70px;
	font-size: 14.25px;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	line-height: 19px;
}

.header-links button {
	background-color: #6288a5;
	border: 1px solid #326891;
	border-radius: 3px;
	padding: 11px 12px 8px;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	cursor: pointer;
	font-size: 11px;
	color: #fff;
	line-height: 11px;
	letter-spacing: 0.05em;
	font-weight: 700;
}

.navIcons img {
	height: 15px;
	width: 100px;
}

.logo {
	float: left;
	margin-top: 2px;
	margin-left: 120px;
	position: relative;
	width: 35%;
}

main {
	clear: both;
	max-width: 1200px;
  margin: 0 auto;
}

.header-links {
	float: right;
}

/*
.header-links button {
	display: inline;
} */

h1 {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.headline span {
	display: inline-block;
}

.mainImg {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

.mainImg img {
	width: 100%;
	height: 500px;
}

.mainImg figure figcaption {
	text-align: left;
	margin-right: 360px;
}

.content p, .article-nav{
	width: 45%;
	margin-right: auto;
	margin-left: auto;
}

.socialIcons {
	float: right;
	list-style-type: none;
	margin-top: 0;

}

.socialIcons li {
	display: inline;

}

aside {
	float: right;
	width: 20%;
	vertical-align: top;
	background-color: red;
}

.theory-image {
	background: url(../images/inflation-945.png) center no-repeat;
	background-size: contain;
	height: 600px;
	margin: 15px 0;
	font-size: 14px;
	position: relative;
}

.the-universe,
.not-enough-time,
.distant-coffee,
.coffee-everywhere,
.still-not-enough-time,
.inflation,
.fluctuation,
.expansion {
	position: absolute;
	top: 27%;
	width: 260px;
	line-height: 17px;
	font-weight: 300;
	padding: 0 20px;
	text-align: left;
}

.still-not-enough-time,
.inflation,
.fluctuation,
.expansion {
	top: 75%;
}

.the-universe,
.still-not-enough-time {
	left: 100px;
}

.not-enough-time,
.inflation {
	left: 350px;
}

.distant-coffee,
.fluctuation {
	right: 350px;
}

.coffee-everywhere,
.expansion {
	right: 95px;
}

.iframe {
	/* border: 1px solid black; */
	/* width: 45%; */
	/* height: 300px; */
	margin-right: auto;
	margin-left: auto;
	max-width: 45%;
}
